* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.body {
  background-color: white; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
  width: 28%;
  height: 450px;
  margin: 0% auto;
  margin-top: 150px;
  border-radius: 10px; }
  @media screen and (max-width: 1500px) {
    .container {
      width: 550px; } }
  @media screen and (max-width: 1024px) {
    .container {
      width: 500px; } }
  @media screen and (max-width: 540px) {
    .container {
      width: 400px; } }
  @media screen and (max-width: 500px) {
    .container {
      width: 350px; } }
  @media screen and (max-width: 550px) {
    .container {
      border: none; } }

.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px; }

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px; }

.text {
  font-family: sans-serif;
  padding-bottom: 20px;
  font-size: 20px;
  color: grey; }

.text-two {
  font-family: sans-serif;
  font-size: 18px;
  color: grey; }

.input {
  padding-top: 30px; }
  .input__inp {
    width: 350px;
    height: 50px; }
    @media screen and (max-width: 540px) {
      .input__inp {
        width: 250px; } }
    @media screen and (max-width: 414px) {
      .input__inp {
        width: 200px; } }
    @media screen and (max-width: 320px) {
      .input__inp {
        width: 180px; } }

.input-text {
  padding-top: 10px; }
  .input-text__link {
    text-align: left;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold; }

.para-text {
  padding-top: 50px;
  padding-bottom: 30px; }
  .para-text__text {
    font-family: sans-serif;
    font-size: 13px;
    color: grey;
    font-weight: bold; }
  .para-text__link {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none; }

.button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 190px;
  justify-content: space-between; }

.btn {
  width: 80px;
  height: 30px;
  background: blue;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  border: none; }

.link {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  color: blue;
  text-decoration: none; }

.section-two {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px; }

.contet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 120px; }
  @media screen and (max-width: 550px) {
    .contet {
      gap: 80px; } }
  @media screen and (max-width: 540px) {
    .contet {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 50px; } }
  @media screen and (max-width: 414px) {
    .contet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 50px; } }

.links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px; }

.lin {
  font-family: sans-serif;
  color: grey;
  font-size: 13px; }

.select {
  font-size: 13px;
  color: grey; }

.option {
  font-size: 13px;
  color: grey; }
