* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

.body {
  background-color: white; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gainsboro;
  width: 30%;
  height: 500px;
  margin: 0% auto;
  margin-top: 150px;
  border-radius: 10px; }

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
